div {
     padding :5px;
     margin: 5px;
     border: solid 1px black;
     width: fit-content;
 }
.blue{
    background-color: brown;
    text-decoration: line-through;

}
.Arial{
    font-family: Arial;

}
bigyes:after{
    background-color: darkgreen;
    content: "Yes";
    font-size: 40px;

}