div.from {
    background-color: darkgrey;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
    display: inline-block;
}


body {
    background-color: #484848;
    margin: 0;
    padding: 0;
    text-align: center;

}