div.from {
    background-color: darkgrey;
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
    display: inline-block;
}


body {
    background-color: #484848;
    margin: 0;
    padding: 0;
    text-align: center;

}
a{
<<<<<<< HEAD
    color: white;



=======
    color: azure;
    text-decoration: none;
>>>>>>> 15b29805b2587e1aa77adaf0ac65450f958a2cb7
}